// colors

$main-text: #f5f4ed; // main text
$link: rgba(58, 82, 255, 0.73); // anchor tags
$background: rgba(20, 36, 64, 0.77); // background color

// fonts 

//$primary-font: 'Bitter', sans-serif;
$primary-font: "Roboto", Helvetica, sans-serif;
$secondary-font: 'Open Sans', sans-serif;

// Font Weight
$font-weight-lighter: "100";
$font-weight-light: "200";
$font-weight-regular: "300";
$font-weight-heavy: "500";